/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Estilizando o header */
header {
    background-color: #d60000; /* Cor de fundo vermelha */
    color: white;
}

/* Div para o topo do header */
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Logo */
.logoHeader img {
    width: 50px; /* Ajuste o tamanho conforme necessário */
}

/* Barra de pesquisa */
.search-bar input {
    padding: 5px;
    border: none;
    border-radius: 3px;
}

.search-bar button {
    background-color: #f1f1f1;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.search-bar input, .search-bar button {
    margin-left: 10px;
}

/* Redes sociais */
.social-media a {
    text-decoration: none;
    color: white;
    margin: 0 5px;
    font-size: 20px;
}

/* Área do cliente */
.client-area a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* Menu de navegação */
.main-nav ul {
    display: flex;
    justify-content: center;
    background-color: #000;
    padding: 10px 0;
    margin-top: 20px;
}

.main-nav ul li {
    list-style-type: none;
    margin-right: 20px;
}

.main-nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

/* Efeito para os links do menu */
.main-nav ul li a:hover {
    color: #ffcc00;
}

.facebook {
    width: 25px;
    height: 25px;
}

.instagram {
    width: 25px;
    height: 25px;
}

.twitter {
    width: 25px;
    height: 25px;
}

.whatsapp {
    width: 25px;
    height: 25px;
}

.atendente {
    width: 25px;
    height: 25px;
}

.lupa {
    width: 13px;
    height: 13px;
}

/*BODY==================================================================================================================================*/

#displayOndeEstou{
    display: flex;
    justify-content: left;
    margin-left: 30px;
}

#displayOndeEstou a{
    text-decoration: none;
    color: black;
}

#genero {
    display: flex;
    justify-content: left;
    margin-left: 40px;
    margin-top: 15px;
}

#genero h1 {
    font-size: 45px;
}

#exibicao {
    display: flex;
    justify-content: right;
    margin-right: 30px;
}

#exibicao p {
    margin-top: 7px;
}

#exibicao select {
    margin-left: 5px;
    height: 30px;
}

#exibindo {
    border-radius: 0px;
}

#resultados {
    margin-left: 30px;
    font-size: 25px;
}

/*DISPLAY 1=============================================================================================================================*/

#display1 {
    display: flex;
    justify-content: space-around;
}

#paranoid {
    background-color: red;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    box-shadow: 0 0 20px rgba(255, 0, 82, 0.3);
    transition: 0.4s;
}

#paranoid:hover {
    background-color: rgb(196, 0, 0);
    cursor: pointer;
    box-shadow: 0 0 30px rgba(255, 0, 81, 0.63);
    transition: 0.4s;
}

#paranoid img {
    margin-top: 25px;
    height: 200px;
    width: 200px;
}

#paranoid h2 {
    margin-top: 10px;
    font-size: 25px;
}

#paranoid p {
    margin-top: 5px;
    font-size: 20px;
}

#masterOfReality {
    background-color: red;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    box-shadow: 0 0 20px rgba(255, 0, 82, 0.3);
    transition: 0.4s;
}

#masterOfReality:hover {
    background-color: rgb(196, 0, 0);
    cursor: pointer;
    box-shadow: 0 0 30px rgba(255, 0, 81, 0.63);
    transition: 0.4s;
}

#masterOfReality img {
    margin-top: 25px;
    height: 200px;
    width: 200px;
}

#masterOfReality h2 {
    margin-top: 10px;
}

#masterOfReality p {
    margin-top: 5px;
    font-size: 20px;
}

#melissa {
    background-color: red;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    box-shadow: 0 0 20px rgba(255, 0, 82, 0.3);
    transition: 0.4s;
}

#melissa:hover {
    background-color: rgb(196, 0, 0);
    cursor: pointer;
    box-shadow: 0 0 30px rgba(255, 0, 81, 0.63);
    transition: 0.4s;
}

#melissa img {
    margin-top: 25px;
    height: 200px;
    width: 200px;
}

#melissa h2 {
    margin-top: 10px;
    font-size: 25px;
}

#melissa p {
    margin-top: 5px;
    font-size: 20px;
}

#dookie {
    background-color: red;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    box-shadow: 0 0 20px rgba(255, 0, 82, 0.3);
    transition: 0.4s;
}

#dookie:hover {
    background-color: rgb(196, 0, 0);
    cursor: pointer;
    box-shadow: 0 0 30px rgba(255, 0, 81, 0.63);
    transition: 0.4s;
}

#dookie img {
    margin-top: 25px;
    height: 200px;
    width: 200px;
}

#dookie h2 {
    margin-top: 10px;
    font-size: 25px;
}

#dookie p {
    margin-top: 5px;
    font-size: 20px;
}

/*DISPLAY 2=============================================================================================================================*/

#display2 {
    display: flex;
    justify-content: space-around;
}

#americanIdiot {
    background-color: red;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    box-shadow: 0 0 20px rgba(255, 0, 82, 0.3);
    transition: 0.4s;
}

#americanIdiot:hover {
    background-color: rgb(196, 0, 0);
    cursor: pointer;
    box-shadow: 0 0 30px rgba(255, 0, 81, 0.63);
    transition: 0.4s;
}

#americanIdiot img{
    margin-top: 25px;
    height: 200px;
    width: 200px;
}

#americanIdiot h2 {
    margin-top: 10px;
    font-size: 25px;
}

#americanIdiot p {
    margin-top: 5px;
    font-size: 20px;
}

#blackParade {
    background-color: red;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    box-shadow: 0 0 20px rgba(255, 0, 82, 0.3);
    transition: 0.4s;
}

#blackParade:hover {
    background-color: rgb(196, 0, 0);
    cursor: pointer;
    box-shadow: 0 0 30px rgba(255, 0, 81, 0.63);
    transition: 0.4s;
}

#blackParade img{
    margin-top: 25px;
    height: 200px;
    width: 200px;
}

#blackParade h2 {
    margin-top: 10px;
    font-size: 25px;
}

#blackParade p {
    margin-top: 5px;
    font-size: 20px;
}

#centuryBreakdown {
    background-color: red;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    box-shadow: 0 0 20px rgba(255, 0, 82, 0.3);
    transition: 0.4s;
}

#centuryBreakdown:hover {
    background-color: rgb(196, 0, 0);
    cursor: pointer;
    box-shadow: 0 0 30px rgba(255, 0, 81, 0.63);
    transition: 0.4s;
}

#centuryBreakdown img{
    margin-top: 25px;
    height: 200px;
    width: 200px;
}

#centuryBreakdown h2 {
    margin-top: 10px;
    font-size: 25px;
}

#centuryBreakdown p {
    margin-top: 5px;
    font-size: 20px;
}

#rideTheLightning {
    background-color: red;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    box-shadow: 0 0 20px rgba(255, 0, 82, 0.3);
    transition: 0.4s;
}

#rideTheLightning:hover {
    background-color: rgb(196, 0, 0);
    cursor: pointer;
    box-shadow: 0 0 30px rgba(255, 0, 81, 0.63);
    transition: 0.4s;
}

#rideTheLightning img{
    margin-top: 25px;
    height: 200px;
    width: 200px;
}

#rideTheLightning h2 {
    margin-top: 10px;
    font-size: 25px;
}

#rideTheLightning p {
    margin-top: 5px;
    font-size: 20px;
}

/*FOOTER================================================================================================================================*/

footer {
    background-color: #d60000; /* Cor de fundo vermelha */
    color: white;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logoFooter {
    width: 200px;
    height: 200px;
}